<header>

  <a href="/">
    <img class="me" src="/images/mugshot.JPG" />
  </a>

  <ul class="icons">
    <li>
      <a href="/about.html" title="About me">
        <i class="fa fa-user"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/gawwrgi" title="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/gs0510" title="Github">
        <i class="fa fa-github"></i>
      </a>
    </li>
	
   <li>
      <a href="mailto:gs051095@gmail.com" title="GMail">
        <i class="fa fa-mail"></i>
      </a>
    </li>

   <li>
      <a href="https://medium.com/@gargi_sharma" title="Medium">
        <i class="fa fa-medium"></i>
      </a>
    </li>

  </ul>
</header>
